# Node modules
node_modules/

# Cypress configuration and output
cypress/screenshots/
cypress/videos/
cypress/reports/

# Environment variables
.env

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
